

header.header#header
  .container.nav
    a.nav-logo(href="index.html")
      h2 Mazen

    .nav-menu#nav-menu
      ul.nav-list

        li.nav-item
          a.nav-link.active-link(href="#landing").
            home
                
        li.nav-item
          a.nav-link(href="#about").
            about 

        li.nav-item
          a.nav-link(href="#experience").
            experience
            
        li.nav-item
          a.nav-link(href="#pricing").
            pricing 
  
        li.nav-item
          a.nav-link(href="#portfolio").
            portfolio
  
        li.nav-item
          a.nav-link(href="#contact").
            contact 
        
      .nav-close#nav-close
        i.lni.lni-close

    .nav-btns
      i.lni.lni-pallet.change-theme#theme-button
      .nav-toggle#nav-toggle
        i.lni.lni-grid-alt
