section.section.blogs
  .container
    h2.section-title.padd-15 latest posts

    .row
      .blog-item.padd-15
        .inner
          .thumb
            a(href="#")
              span.category reviews 
            a(href="#")
              img(src="images/portfolio/1.svg", alt="blog")
          .details
            h3.title
              a(href="#").
                5 best app Development tool for tour projects
            ul.meta
              li 09 february, 2021
              li mazen

      .blog-item.padd-15
        .inner
          .thumb
            a(href="#")
              span.category tutorial 
            a(href="#")
              img(src="images/portfolio/2.svg", alt="blog")
          .details
            h3.title
              a(href="#").
                common misconceptions about payment
            ul.meta
              li 07 february, 2021
              li mazen

      .blog-item.padd-15
        .inner
          .thumb
            a(href="#")
              span.category business 
            a(href="#")
              img(src="images/portfolio/3.svg", alt="blog")
          .details
            h3.title
              a(href="#").
                3 things to know about startup business
            ul.meta
              li 06 february, 2021
              li mazen