.customize-theme
  .card
    h2 customize your view
    p manage your font size, color, and background
      
    .font-size
      h3 font size
      div
        h6 Aa
        .choose-size
          span.font-size-1
          span.font-size-2
          span.font-size-3.active
          span.font-size-4
        h3 Aa
     
    .color
      h3 color
      .choose-color
        span.color-1
        span.color-2
        span.color-3.active
        span.color-4
        span.color-5
     
    .background
      h3 background
      .choose-bg
     
        .bg-1.active
          span
          h5(for="bg-1") light
         
        .bg-2
          span
          h5(for="bg-2") dim
        
        .bg-3
          span
          h5(for="bg-3") dark