section.section.pricing#pricing
  .container
    h2.section-title.padd-15 pricing plans
    
    .row
 
      .prices
        .price-item
          img(src="images/price/price-1.svg", alt="price")
          h3.plan Basic
          p.
            A Simple option but powerful to manage your business
          p email support
          h3.price
            em $ 
            | 9
            span month 
          a.btn.btn-default(href="#").
            get started
            
      .prices
        .price-item.best
          span.badge Recommended 
          img(src="images/price/price-2.svg", alt="price")
          h3.plan premium
          p.
            Unlimited product inluding app interation and more features
          p email support
          h3.price
            em $ 
            | 49
            span month 
          a.btn.btn-default(href="#").
            get started
            
      .prices
        .price-item
          img(src="images/price/price-3.svg", alt="price")
          h3.plan Basic
          p.
            A wise option for large companies and individuals
          p 24 / 6 support
          h3.price
            em $ 
            | 99
            span month 
          a.btn.btn-default(href="#").            
            get started
            