section.exp.section#experience
  .container
    h2.section-title.padd-15 experience
    .row

      .education.padd-15
        .row

          .timeline-box
            .timeline
              
              .timeline-item
                i.lni.lni-graduation.timeline-icon
                h3.timeline-date
                  i.lni.lni-calendar
                  | 2022 - present

                h3.timeline-title.
                  academic degree
                  
                p.
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem a doloribus laboriosam debitis maiores?
                  
              .timeline-item
                i.lni.lni-graduation.timeline-icon
                h3.timeline-date
                  i.lni.lni-calendar
                  | 2022 - 2020

                h3.timeline-title.
                  bachelor's degree
                  
                p.
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem a doloribus laboriosam debitis maiores?
                  
              .timeline-item
                i.lni.lni-graduation.timeline-icon
                h3.timeline-date
                  i.lni.lni-calendar
                  | 2020 - 2019

                h3.timeline-title.
                  honours degree
                p.
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem a doloribus laboriosam debitis maiores?
                  
      .experience.padd-15
        .row
          .timeline-box
            .timeline
 
              .timeline-item
                i.lni.lni-briefcase.timeline-icon
                h3.timeline-date
                  i.lni.lni-calendar
                  |  2022 - present

                h3.timeline-title.
                  javascript full
                p.
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem a doloribus laboriosam debitis maiores?
                  
 
              .timeline-item
                i.lni.lni-briefcase.timeline-icon
                h3.timeline-date
                  i.lni.lni-calendar
                  | 2022 - 2020

                h3.timeline-title.
                  web designer
                p.
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem a doloribus laboriosam debitis maiores?
                  
               
              .timeline-item
                i.lni.lni-briefcase.timeline-icon
                h3.timeline-date
                  i.lni.lni-calendar
                  | 2020 - 2019

                h3.timeline-title.
                  front-end Developer
                p.
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem a doloribus laboriosam debitis maiores?
                  