

//- meta website
meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")


//- FAVICON is web site
link(rel="icon", href="images/fav/favicon.svg", type="image/x-icon")/
link(rel="shortcut icon", href="images/fav/favicon.svg", type="image/x-icon")/
link(rel="apple-touch-icon", href="images/fav/favicon.svg", type="image/x-icon")/

link(rel="icon", href="images/fav/logo.png", type="image/x-icon")/
link(rel="shortcut icon", href="images/fav/logo.png", type="image/x-icon")/
link(rel="apple-touch-icon", href="images/fav/logo.png", type="image/x-icon")/




//- shere my web site is facebook
//- | عنوان المقال 
meta(property="og:title", content="Mazen Saad")/

//- | لكتابة وصف المقال او الصفحة 
meta(property="og:description", content="Web Developer")/

//- | لختيار الصورة للمقال 
meta(property="og:image", content="img/img.png")/

//- | لحجم الصورة 
meta(property="og:image:width", content="1200")/
meta(property="og:image:height", content="630")/

//- | لتحديد نوع الصفحة او المقال 
meta(property="og:type", content="website")/




//- shere my website is twitter
//- | لمشاركة صورة علي التغريدة في تويتر 
meta(name="twitter:card", content="summary_large_image" )/

//- | لتحديد العنوان المنشور 
meta(name="twitter:title", content="" )/

//- | لتحديد الوصف اسفل العنوان
meta(name="twitter:description", content="" )/

//- | لتحديد الصورة المسار 
meta(name="twitter:image", content="" )/

//- | لتحديد حساب صاحب الموقع 
meta(name="twitter:site", content="" )/

//- | لتحديد اسم صاحب الموقع 
meta(name="twitter:creator", content="" )/

