
//- icons font awesome online
//- link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")/

//- icons font awesome ofline
link(rel="stylesheet", href="css/all.min.css")/




<!-- lineicons online -->
<!-- <link rel="stylesheet" href="https://cdn.lineicons.com/3.0/lineicons.css"> -->


<!-- lineicons offline -->
<link rel="stylesheet" href="css/lineicons.css" />


<!-- swiper css online -->
<!-- <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" /> -->


<!-- swiper css offline -->
<link rel="stylesheet" href="css/swiper-bundle.min.css">



//- start bootstrap
//- link(rel="stylesheet", href="css/bootstrap.min.css")/

//- normalize offline
//- link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" )/


//- //- normalize online
link(rel="stylesheet", href="css/normalize.css" )/

//- //- my file style web
link(rel="stylesheet", href="css/style.css" )/
