section.landing.section#landing
  .container
    .intro
      img(src="images/avatar/avatar-1.svg", alt="mazen")
      h1 mazen saad
      span
        | i'm a

        span.info-text front-end Web Developer 
      ul.social-icons
 
        li
          a(href, target="_blank")
            i.lni.lni-facebook

        li
          a(href, target="_blank")
            i.lni.lni-instagram-original
  
        li
          a(href, target="_blank")
            i.lni.lni-twitter-original
 
        li
          a(href, target="_blank")
            i.lni.lni-youtube
      div
        a.btn.btn-default(href="#contact") hire me 
        
      .scroll-down
        a.mouse-wrapper(href="#about")
          span scroll down 
          span.mouse
            span.wheel