section.about.section#about
  .container
    h2.section-title.padd-15 about me
    .row
      .about-img.padd-15
        img(src="images/avatar/avatar-2.svg", alt)

      .about-content.padd-15
        .rounded
          .row

            .about-text.padd-15
              p.                
                I am Mazen Saad, web Developer from egypt. l have rich experience in web site desgin and building and customization, also I am not good at WordPress
                
              div
                a.btn.btn-default(href="#").
                  download CV
                  
        
            .skills.padd-15
              .row
          
                .skill-item
                  h4 Development
                  .progress
                    .progress-in(style="width: 75%; background: rgb(225,209,92);")
                    .skill-percent.
                      75%
                      
                
                .skill-item
                  h4 photography
                  .progress
                    .progress-in(style="width: 25%; background: rgb(225,76,96);")
                    .skill-percent.
                      25%
                      
              
                .skill-item
                  h4 UI/UX design
                  .progress
                    .progress-in(style="width: 25%; background: rgb(108,108,229);")
                    .skill-percent.
                      25%
                      
    .row
    
      .fact-item.padd-15
        i.lni.lni-thumbs-up
        .details
          h3 198
          p Project done
  
      .fact-item.padd-15
        i.lni.lni-coffee-cup
        .details
          h3 6798
          p cup of coffee
 
      .fact-item.padd-15
        i.lni.lni-users
        .details
          h3 428
          p satisfied clients
 
      .fact-item.padd-15
        i.lni.lni-cup
        .details
          h3 28
          p mominiees winner